body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-width: 0;
  border-color: transparent;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 100%;
  width: 100%;
}

.foreground {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.globe {
  width: 40em;
  height: 47em;
  position: absolute;
  z-index: 100;
  bottom: 2em;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media (max-height: 968px) {
  .globe {
    width: 30em;
    height: 35em;
  }
}
@media (max-height: 768px) {
  .globe {
    width: 26em;
    height: 30em;
  }
}
@media (max-height: 668px), (max-width: 420px) {
  .globe {
    width: 22em;
    height: 25.5em;
    bottom: 0.5em;
  }
}
@media (max-height: 568px) {
  .globe {
    width: 19em;
    height: 22em;
  }
}

.globe:hover {
  cursor: pointer;
}

.globe-img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  z-index: 0;
  margin: 50px auto 0;
  border-radius: 50%;
  width: 32.5em;
  height: 33.5em;
}
@media (max-height: 968px) {
  #canvas {
    margin: 40px auto 0;
    width: 24.5em;
    height: 25em;
  }
}
@media (max-height: 768px) {
  #canvas {
    margin: 35px auto 0;
    width: 21.1em;
    height: 21.5em;
  }
}
@media (max-height: 668px), (max-width: 420px) {
  #canvas {
    margin: 30px auto 0;
    width: 17.8em;
    height: 18.5em;
  }
}
@media (max-height: 568px) {
  #canvas {
    margin: 25px auto 0;
    width: 15.6em;
    height: 16em;
  }
}

.shake {
  background-image: url("../img/shake.png");
  background-image: url("../img/shake.svg"), none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  max-width: 14em;
  position: absolute;
  bottom: 30em;
  height: 6em;
  right: 0;
  left: 0;
  margin: 0 auto;
}
@media (max-height: 968px) {
  .shake {
    bottom: 22em;
    height: 5em;
    max-width: 12em;
  }
}
@media (max-height: 768px) {
  .shake {
    bottom: 18em;
    height: 5em;
    max-width: 10em;
  }
}
@media (max-height: 668px), (max-width: 420px) {
  .shake {
    bottom: 14.5em;
    height: 4em;
    max-width: 9em;
  }
}
@media (max-height: 568px) {
  .shake {
    bottom: 13em;
    height: 3em;
    max-width: 8em;
  }
}

.happy {
  background-image: url("../img/happy.png");
  background-image: url("../img/happy.svg"), none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90%;
  max-width: 40em;
  height: 7em;
  position: absolute;
  top: 5em;
  right: 0;
  left: 0;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .happy {
    background-image: url("../img/happy_mobile.png");
    background-image: url("../img/happy_mobile.svg"), none;
    top: 3em;
    height: 11em;
    width: 70%;
    max-width: 18em;
  }
}
@media (max-width: 420px) {
  .happy {
    top: 1.5em;
    height: 9em;
    max-width: 15em;
  }
}
@media (max-width: 320px) {
  .happy {
    top: 1.5em;
    height: 7em;
    max-width: 12em;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.tada {
  animation-name: tada;
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -5deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 5deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -5deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
